body {
  margin: 0;
  background-color: #1297E0;
  color: #fff;
  font-family: Roboto, sans-serif;
}

h1 {
  margin: .5em 0;
  font-size: 4em;
  letter-spacing: -.05em;
}

h2,
h3,
h4 {
  font-weight: 300;
}

h2 {
  margin: 2em 0 1em;
  font-size: 2em;
}

h3,
h4 {
  margin: 2em 0 .667em;
  font-size: 1.5em;
}

h4 {
  margin: .667em 0;
}

a {
  padding-bottom: 1px;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.container {
  width: 1000px;
}

.header {
  display: block;
  padding: 2em 0;
  background-color: #fff;
  color: #1297E0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.description {
  font-size: 2em;
  font-weight: 300;
}

.download-btn {
  display: inline-block;
  margin: 1.455em 0 0;
  padding: 1em 2em;
  border: 0;
  border-radius: 2px;
  background-color: #1297E0;
  color: #fff;
  font-size: 1.375em;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
}

.download-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 16px -18px rgba(0, 0, 0, 0.4);
}

.column {
  display: block;
  height: 2em;
  background-color: #fff;
}

.different {
  background-color: #FFCF4B;
}

[class*="language-"] {
  margin: 2em 0 2em !important;
  border-radius: 2px !important;
}

.credits {
  margin: 2em 0;
  text-align: center;
}

.credits .prefix {
  color: rgba(255, 255, 255, 0.6);
}
