/*!
 * Blogrid
 *
 * Grid CSS responsivo para sites com sidebar.
 * https://github.com/andergtk/blogrid
 */

/* Uma classe container para definir a largura e centralizar a pagina. */
.container {
  display: block;
	margin: 0 auto;
	max-width: 1240px;
}

/* Evita que o padding interfira na largura. */
.grid,
.grid .col { box-sizing: border-box }

/**
 * O GRID
 */
.grid {
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	clear: both;
}

/**
 * Clearfix by: Nicolas Gallagher
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */
.grid { *zoom: 1; }

.grid:before,
.grid:after {
	content: " ";
	display: table;
}

.grid:after { clear: both; }

/**
 * AS COLUNAS
 */
.grid .col {
  display: block;
	float: left;
	margin-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

/* Remove o padding desnecessario, pois o elemento pai ja possue. */
.col .grid {
	padding-right: 0;
	padding-left: 0;
}

.col .grid:last-child .col { margin-bottom: 0; }
.col .grid .col:first-child { padding-left: 0; }
.col .grid .col:last-child { padding-right: 0; }

/**
 * O GRID PRINCIPAL
 */
.grid .content,
.grid .content-with-sidebars {
	display: inline-block;
	float: none;
	width: calc( 100% - 300px );
}

.grid .content-with-sidebars { width: calc( 100% - 600px ); }

.grid .sidebar,
.grid .sidebar-left {
	float: right;
	width: 300px;
}

.grid .sidebar-left { float: left; }

/**
 * O GRID GERAL
 *
 * Sistema simples com ate seis colunas.
 */
.grid .whole,
.grid .full-width { width: 100%; }
.grid .half { width: 50%; }
.grid .one-third { width: 33.3332%; }
.grid .two-thirds { width: 66.6665%; }
.grid .one-quarter,
.grid .one-fourth { width: 25%; }
.grid .three-quarters,
.grid .three-fourths { width: 75%; }
.grid .one-fifth { width: 20%; }
.grid .two-fifths { width: 40%; }
.grid .three-fifths { width: 60%; }
.grid .four-fifths { width: 80%; }
.grid .one-sixth { width: 16.6667%; }
.grid .five-sixths { width: 83.3335%; }

/*
 * EMPURRAR COLUNAS
 */
.grid .push-to-right { float: right; }
.grid .push-half { margin-left: 50%; }
.grid .push-one-third { margin-left: 33.3332%; }
.grid .push-two-thirds { margin-left: 66.6665%; }
.grid .push-one-quarter,
.grid .push-one-fourth { margin-left: 25%; }
.grid .push-three-quarters,
.grid .push-three-fourths { margin-left: 75%; }
.grid .push-one-fifth { margin-left: 20%; }
.grid .push-two-fifths { margin-left: 40%; }
.grid .push-three-fifths { margin-left: 60%; }
.grid .push-four-fifths { margin-left: 80%; }
.grid .push-one-sixth { margin-left: 16.6667%; }
.grid .push-five-sixths { margin-left: 83.3335%; }

/**
 * REMOVER ESPAÇO ENTRE COLUNAS
 */
/* Compensa o padding tirado das colunas. */
.no-gutters.grid {
	padding-right: 20px;
	padding-left: 20px;
}

.no-gutters > .col,
/* Anula efeito de compensar o padding, adicionado acima, em grids aninhados */
.col .no-gutters.grid {
  padding-right: 0;
	padding-left: 0;
}

/**
 * BREAKPOINTS
 */

/* Medium Screen */
@media ( max-width: 1000px ) {

	/* Empilha colunas que nao tem determinadas classes */
	.grid .col:not(.no-stack-never):not(.no-stack-ms) {
		float: none;
		margin: 0 0 20px; /* anula o efeito da classe .push-* */
		width: 100%;
		clear: both;
	}

	/* Remove padding de colunas em grids aninhados e adiciona margin-bottom. */
	.col .grid .col:not(.no-stack-ms):not(.no-stack-never) { padding: 0; }
	.col .grid:last-child .col:last-child { margin-bottom: 0; }
}

/* Small Screen */
@media ( max-width: 800px ) {

	/* Empilha colunas que nao tem a classe .no-stack-never. */
	.grid .col:not(.no-stack-never) {
		float: none;
		margin: 0 0 20px; /* anula o efeito da classe .push-* */
		width: 100%;
		clear: both;
	}

	.col .grid .col:not(.no-stack-never) { padding: 0; }
}
