/*!
 * Blogrid
 * Grid CSS responsivo para sites com sidebar.
 * https://andersoncamargo.com.br/blogrid/
 */

/** Evita a barra de rolagem horizontal. */
body {
  overflow-x: hidden;
}

/** Uma classe container para definir a largura e centralizar a pagina. */
.container {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

/** Evita que o padding interfira na largura. */
.grid,
.grid .col {
  box-sizing: border-box;
}

/**
 * O grid
 */
.grid {
  display: block;
  margin: -20px -10px 0;
  clear: both;
}

/**
 * Clearfix by: Nicolas Gallagher
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */
.grid:before,
.grid:after {
  content: " ";
  display: table;
}

.grid:after {
  clear: both;
}

.grid {
  *zoom: 1;
}

/**
 * As colunas
 */
.grid .col {
  display: block;
  float: left;
  padding: 20px 10px 0;
}

/**
 * O grid principal
 */
.grid .content,
.grid .content-multisidebar {
  display: inline-block;
  float: none;
}

.grid .content { width: calc( 100% - 300px ); }
.grid .content-multisidebar { width: calc( 100% - 600px ); }

.grid .sidebar,
.grid .sidebar-left { width: 300px; }
.grid .sidebar { float: right; }
.grid .sidebar-left { float: left; }

/**
 * O grid geral
 *
 * Sistema simples com seis colunas.
 */
.grid .whole,
.grid .full-width { width: 100%; }
.grid .half { width: 50%; }
.grid .one-third { width: 33.3332%; }
.grid .two-thirds { width: 66.6665%; }
.grid .one-fourth { width: 25%; }
.grid .three-fourths { width: 75%; }
.grid .one-fifth { width: 20%; }
.grid .two-fifths { width: 40%; }
.grid .three-fifths { width: 60%; }
.grid .four-fifths { width: 80%; }
.grid .one-sixth { width: 16.6667%; }
.grid .five-sixths { width: 83.3335%; }

/**
 * Empurrar as colunas
 */
.grid .push-to-right { float: right; }
.grid .push-half { margin-left: 50%; }
.grid .push-one-third { margin-left: 33.3332%; }
.grid .push-two-thirds { margin-left: 66.6665%; }
.grid .push-one-fourth { margin-left: 25%; }
.grid .push-three-fourths { margin-left: 75%; }
.grid .push-one-fifth { margin-left: 20%; }
.grid .push-two-fifths { margin-left: 40%; }
.grid .push-three-fifths { margin-left: 60%; }
.grid .push-four-fifths { margin-left: 80%; }
.grid .push-one-sixth { margin-left: 16.6667%; }
.grid .push-five-sixths { margin-left: 83.3335%; }

/**
 * Remover espaços entre as colunas
 */
.no-gutters.grid {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters.grid > .col {
  padding-right: 0;
  padding-left: 0;
}

/**
 * Breakpoints
 */
@media ( max-width: 1300px ) {
  .container { max-width: 1060px; }
}

@media ( max-width: 960px ) {
  .grid:not(.no-stack) > .col {
    margin: 0;
    width: 100%;
    clear: both;
  }
}
